body {
  margin: 0;
  font-family: Helvetica;
  font-size: 12px;
  background-color: #000000;
  background-image: url('../../graphics/wallpaper.jpg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 60px;
  background-attachment: fixed;
}

header {
  width: 800px;
  height: 60px;
  margin: 0 auto;
  background-image: url('../../graphics/banner.jpg');
  background-repeat: no-repeat;
  color: #FFFFFF;
}

nav {
  width: 800px;
  margin: 0 auto;
  background-color: #F2F2F2;
  color: #000000;
  padding: 5px;
}

section {
  width: 800px;
  margin: 0 auto;
  background-color: #F2F2F2;
  padding: 5px;
}

footer {
  width: 800px;
  margin: 0 auto;
  color: #FFFFFF;
}

h2 {
  margin-left: 20px;  
}

a img {
  vertical-align: middle;
}

.thick {
  border: solid black 3px;
}

table {
  background-color: #FFFFFF;
  color: #000000;
  margin-left: 10px;
}

table.border {
  border-collapse: collapse;
}

table.border th {
  border: solid black 1px;
  padding-left: 5px;
  padding-right: 5px;
}

table.border td {
  border: solid black 1px;
  padding-left: 5px;
  padding-right: 5px;
}

table td img {
  vertical-align: middle;
}

table td img.avatar {  
  height: 30px;
}

table.listing tr:nth-child(even) {
  background-color: #E6E6E6;
}

table.stats td {
  text-align: right;
}

span.success {
  color: green;
}

span.error {
  color: red;
}

span.warning {
  color: orange;
}

.floating-box {
  display: inline-block;
  vertical-align: top;
}

fieldset {
  display: inline-block;
  vertical-align: top;
}

span.info {
  font-size: 12px;
  font-style: italic;
}

div.info {
  max-width: 500px;
  font-size: 12px;
  font-style: italic;
}

div.select {
  display: inline-block;
  border: solid grey 1px;
  height: 200px;
  overflow: scroll;
  white-space: nowrap;
}

div.users {
  width: 500px;
}

div.cars {
  width: 500px;
}

div.groups {
  width: 500px;
}

div#nav {
  margin-bottom: 5px;
  border-top: 1px gray solid;
  border-bottom: 1px gray solid;
  background-color: #FFFFFF;
  padding: 5px;
  height: 60px;
}

div#nav_links {
  margin-top: 5px;
  margin-bottom: 15px;
}

div#nav_links a {
  text-decoration: none;
  padding: 5px;
  background-color: #F5A9A9;
  color: #FFFFFF;
  font-size:1.2em;
}

div#nav_links a:hover {
  text-decoration: underline;
  background-color: #F78181;
}

div#nav_auth {
  margin-top: 5px;  
}

ul {
  padding-left: 15px;
}