body {
  margin: 0;
  font-family: Helvetica;
  font-size: 12px;
  background-color: #000000;
  background-image: url('../../graphics/wallpaper.jpg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 60px;
  background-attachment: fixed;
}

header {
  width: 800px;
  height: 60px;
  margin: 0 auto;
  background-image: url('../../graphics/banner.jpg');
  background-repeat: no-repeat;
  color: #FFFFFF;
}

nav {
  width: 800px;
  margin: 0 auto;
  background-color: #F2F2F2;
  color: #000000;
  padding: 5px;
  border-radius: 5px 5px 0px 0px;
}

section {
  width: 800px;
  margin: 0 auto;
  background-color: #F2F2F2;
  padding: 5px;
}

footer {
  width: 790px;
  margin: 0 auto;
  color: #000000;
  background-color: #E6E6E6;
  padding:10px;
  margin-bottom:20px;
  border-radius: 0 0 5px 5px;
}

h2 {
  color: #6E6E6E;
  margin-left: 20px;
  border-bottom: 1px #BDBDBD solid;
  width: 700px;
}

a img {
  vertical-align: middle;
}

hr {
  margin-top: 10px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.thick {
  border: solid black 3px;
}

table {
  background-color: #FFFFFF;
  color: #000000;
  margin-left: 10px;
}

table.border {
  border-collapse: collapse;
}

table.border th {
  border: solid black 1px;
  padding-left: 5px;
  padding-right: 5px;
}

table.border td {
  border: solid black 1px;
  padding-left: 5px;
  padding-right: 5px;
}

table td img {
  vertical-align: middle;
}

table td img.avatar {  
  height: 30px;
}

table th.stats_label {
  width: 100px;
}

table th.stats_nb {
  width: 25px;
}

table th.stats_taux {
  width: 50px;
}

table.listing tr:nth-child(even) {
  background-color: #E6E6E6;
}

table.stats td {
  text-align: right;
  padding: 5px;
}

table.stats th {
  background-color:#E6E6E6;
  padding: 5px;
}

span.success {
  color: green;
}

span.error {
  color: red;
}

span.warning {
  color: orange;
}

.floating-box {
  display: inline-block;
  vertical-align: top;
}

fieldset {
  display: inline-block;
  vertical-align: top;
}

span.info {
  font-size: 12px;
  font-style: italic;
}

div.info {
  max-width: 500px;
  font-size: 12px;
  font-style: italic;
}

div.select {
  display: inline-block;
  border: solid grey 1px;
  height: 200px;
  overflow: scroll;
  white-space: nowrap;
}

div.users {
  width: 500px;
}

div.cars {
  width: 500px;
}

div.groups {
  width: 500px;
}

div.pop-up {
  border: 1px gray dotted;
  width: 300px;
  margin-bottom: 5px;
  padding: 5px;
}

ul {
  padding-left: 15px;
}

ul.tabs {
  height: 24px;
  padding-left: 15px;
  list-style-type: none;
  border-bottom: solid gray 1px;
}

ul.tabs li {
  float: left;
  background-color: #BDBDBD;
  border: solid gray 1px;
  padding: 5px;
}

ul.tabs li a {
  color: #000000;
  text-decoration: none;
}

ul.tabs li:hover {
  background-color: #FFFFFF;
}

body#home li#home_nav,
body#stats li#stats_nav,
body#trombi li#trombi_nav {
  background-color: #FFFFFF;
  border-bottom: none;
}